.navbar-light .navbar-nav .nav-link{
    color:yellowgreen;
    text-transform: uppercase;
}
.hola{
    text-transform: uppercase;
    color: red;
    font-size: 1.6rem;
}
.Pers{
    text-transform: uppercase;
    color: violet;
    font-size: 1.6rem;
}