{% include 'header.html' %}
{% include 'navbar.html' %}
<body background="https://i.ibb.co/Jpc2kFb/fondo-de-la-pagina.jpg">
    
<div class="Hola">
<img src="https://i.ibb.co/7rdKBhh/fortaleza-Digital.jpg"  alt="Imagen del libro">
<style>
    body {
        text-align: center;
    }
</style>
<div class="container" style="margin-top: 1em;">
<h1>Vamos en busca de una aventura por medio del libro</h1>
<h2>BIENVENIDO</h2>
<p>Se busca que aprendas todo lo que se pudo reconocer del libro</p>
</div>
</div>
</body>
{% include 'footer.html' %}
