<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid" style="padding: 1em; background: blue">
    <a class="navbar-brand" href="/" style="text-transform: uppercase; font-weight: 600;">todo sobre el libro</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav d-flex justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/Personajes">Personajes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Tecnologias">Tecnologias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Aventura">Aventura</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Reseña">Reseña</a>
            </li>
        </ul>
    </div>
    </div>
</nav>

