<div>
    <h1 class="Pers">{{PersonajeBase["name"]}}</h1>

    <p class="Pers">{{PersonajeBase["Descripcion"]}}</p>

    <p class="Pers">{{PersonajeBase["Profesion"]}}</p>

    <p class="Pers">{{PersonajeBase["Rol"]}}</p>

    <p class="Pers">{{PersonajeBase["Caracteristicas"]}}</p>

    <p class="Pers">ID : {{id}}</p>
    
    <img src="{{PersonajeBase["foto"]}}" alt="">
    
</div>