{% include 'header.html' %}
{% include 'navbar.html' %}
<body background="https://i.ibb.co/Jpc2kFb/fondo-de-la-pagina.jpg">
    

    
<div class="container-fluid">
    {% for id, PersonajeBase in personajes %}
        <div class="row justify-content-center" style="text-align: center">
            <div class="col col-sm 6">
                {% include 'Personaje.html' %}
            </div>
        </div>
    {% endfor %}
    
</div>
</body>


{% include 'footer.html' %}