{% include 'header.html' %}
{% include 'navbar.html' %}
<body background="https://i.ibb.co/Jpc2kFb/fondo-de-la-pagina.jpg">
    

<p>efafasfdasdasd<a href="/Personajes">hola</a></p>


</body>
{% include 'footer.html' %}