<div>
    <h1 class="Pers">{{Tecno["NameTecno"]}}</h1>

    <p class="Pers">{{Tecno["Descripcion"]}}</p>

    <p class="Pers">{{Tecno["Aparicion"]}}</p>

    <p class="Pers">{{Tecno["Usos"]}}</p>

    <p class="Pers">{{Tecno["Ano"]}}</p>

    <p class="Pers">ID : {{id}}</p>
    
    <img src="{{Tecno["imagen"]}}" alt="">
    

</div>